<main class="main__section">
  <div class="card-gallery__wrapper">
    <div class="card__loading-animation">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <img src="./images/pokemon-logo-1.svg" class="pokemon-logo" width="100" alt="Pokemon logo" />
    <ul class="card-gallery">
    </ul>
  </div>
  <!-- <div class="stats-modal__container stats-modal">
    <div stats__title-container>
      <p class="stats__title">Congrats, You Won!!!</p>
    </div>
    <div class="stats__container">
      <div class="stats__wrapper">
        <p class="stats__text"></p>
        <p class="stats__text"></p>
        <p class="stats__text"></p>
      </div>
  </div> -->
</main>