@use '../utilities/variables';

.header-section {
  background-color: black;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.header-logo__container {
  padding: 10px;
}